<nav-menu></nav-menu>
<div class='container'>
  <div class='row'>
    <div class="container">
      <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12 text-right">
        <p>
          <a class="btn btn-default btn-sm btn-back" href="https://github.com/CodingDK/" target="_blank" title="GitHub profil">
            <i class="fa fa-2x fa-github-square" aria-hidden="true"></i>
            <span class="sr-only">GitHub profil</span>
          </a>&nbsp;
          <a class="btn btn-default btn-sm btn-back" href="https://www.linkedin.com/in/lasse-dahl-slot/" target="_blank" title="LinkedIn profil">
            <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
            <span class="sr-only">Linked profil</span>
          </a>
        </p>
        <p>Sidst opdateret d. 20 marts 2017</p>
        <p>Copyright &copy; <a href="https://www.linkedin.com/in/lasse-dahl-slot/" target="_blank">Lasse D. Slot</a> - 2017</p>
      </div>
    </div>
  </footer>
</div>
