// Load variables from bootstrap
@import "./bootstrap/_variables-own.scss";
@import "./bootstrap/_variables.scss";

/*-----------------------------------
	Variables
-----------------------------------*/
$brand-danger: $brand-danger; //from bootstrap
$screen-sm: $screen-sm; //from bootstrap

/*-----------------------------------
	General Styles
-----------------------------------*/
body {
  padding-top: 50px;
}

footer {
  margin: 50px 0;
}
@media (min-width:$screen-md-min) {
  .rowEqualHeight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*-----------------------------------
	Portfolio Styles
-----------------------------------*/
.portfolio-item {
  margin-bottom: 25px;

  .btn {
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: left;

    h3 {
      color: $link-color;
    }
  }
}
.fa-ul {
  margin-left: 1.6em;

  & > li {
    margin-bottom: 2px;
  }
}
.fa-li {
  top: 0.25em;
}
.btn-back {
  color: $link-color;
  &:hover, &:active {
    color: $link-color;
  }
}
.clickCursor{
  cursor:pointer;
}

.portfolioGallery {

  .columnGallery {
    //float: left;
    display: inline-block;
    width: 25%;
    padding: 3px;

    img {
      display: inline-block;
    }
  }
  /* The Modal (background) */
  .modalGallery {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  /* Modal Content */
  .modalGallery-content {
    position: relative;
    //background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 900px;
  }
  /* The Close Button */
  .closeGallery {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .mySlidesGallery {
    //display: inline-block;
    text-align: center;

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .imgNumber {
    padding: 0 10px;
  }
  /* Next & previous buttons */
  .prevGallery, .nextGallery {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
    /* On hover, add a black background color with a little bit see-through */
    &:hover,
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  /* Position the "next button" to the right */
  .nextGallery {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  img.demoGallery {
    opacity: 0.6;
    cursor: pointer;

    &.active, &:hover {
      opacity: 1;
    }
  }
}
