// Load variables from bootstrap
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";

/*-----------------------------------
	Variables
-----------------------------------*/
$brand-danger: $brand-danger; //from bootstrap
$screen-sm: $screen-sm; //from bootstrap

/*-----------------------------------
	General Styles
-----------------------------------*/
body {
  padding-top: 50px;
}

footer {
  margin: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}